<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <style>
        .inline_div{
            display:inline-block;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="inline_div">
            <input type="text" name="Name" id="name" placeholder="Name">
        </div>
        <div class="inline_div">
                <input type="text" name="City" id="city" placeholder="City">
        </div>
        <div class="inline_div">
                <input type="text" name="Country" id="country" placeholder="Country">
        </div>

        <div class="inline_div">
            <select>
                <option value="" disabled selected>--Select Background</option>
                <option value="red">Beijing</option>
                <option value="yellow">Shanghai</option>
            </select>
        </div>
        <div class="inline_div"><button id="submit_b">Submit</button></div>
        
    </div>

    <div id="show_all"></div>

    <script>

var csrf_token = "{{ csrf_token() }}"; 
$.ajaxSetup({ 
    beforeSend: function(xhr, settings) {
         if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token); } } });
        

        $('#submit_b').on('click',function (e){
            e.preventDefault();
            var nme = $('#name').val();
            var cty = $('#city').val();
            var cntry = $('#country').val();
            var b_color = $('select').val();
            var background = $('option[value='+$('select').val()+']').text();
            var json_obj= {'name': nme, 'city':cty, 'country':cntry, 'background': background, 'color':b_color};
            // console.log("namebbjf:",json_obj);
            // window.location.href='/show/home?name='+nme+'&city='+cty+ '&country=' +cntry+ '&background=' +bgrnd;
            $.ajax({
                type:'POST',
                contentType:"application/json; charset=utf-8",
                data:JSON.stringify(json_obj),
                dataType:"json",
                url:"/home",
                success: function(data){
                    console.log(data.htmlString);
                    if (data.status){
                        //This will create multiple rows within #show_all with the submitted data
                        $(data.htmlString).appendTo($('#show_all'));
                    }
                    else{
                        $('#name_show').html('Invalid Data');
                    }

                }
            });
        })

        
    </script>
    
</body>
</html>