<style>
    body {            
        background-color: rgba(76, 106, 167, 0.788) !important;            
        color: white !important;
    }
</style>


<body>
        
         <!-- % extends 'bootstrap/base.html' %} ONLY FOR ADDING BOOTSTRAP -->
         
    <div class="bgform" style="padding: 0px !important;">
        {% extends "base.html" %}
        {% import 'bootstrap/wtf.html' as wtf %}
        <h1>Edit Device</h1>
        {% block app_content %}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            
            <!-- <p>
                    Uploade Device Photo <br><input type="file" accept="image/*"> NEED TO LET USER UPLOAD PHOTO OF THE DEVICE
                    DURING EDITING ALSO HAVE TO LET USER CHANGE PHOTO 
            </p> -->

            
        {% endblock %}
    </div>
    
</body>
